.playerTable{
    background-color: green;
    border: #186018	1px solid;
    display: flex;
    flex-wrap: wrap;
}

.pcTable{
    background-color: green;
    border: #186018	1px solid;
    display: flex;
    flex-wrap: wrap;
}

.footerDiv{
    height: 41vh;
}